<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aztromick2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Aztromick2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body class="bg-danger">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bgcor border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img
                        src="~/imagens/logo.png" alt=""></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin"
                                    asp-action="Index">Admin</a>
                            }
                        </li>
                        <li class="nav-item">

                            @await Component.InvokeAsync("CategoriaMenu")

                        </li>
                        <li class="nav-item">

                            <form class="navbar-form navbar-right" asp-controller="Item" asp-action="Search"
                                method="get">

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Procurar produto"
                                        name="searchString" value="@ViewData["searchString"]">
                                </div>
                            </form>
                        </li>
                        <li class="btn">
                            @await Component.InvokeAsync("CarrinhoResumo")
                        </li>


                        <li>
                            @await Html.PartialAsync("_Login")
                        </li>
                    </ul>
                    <div class="mx-auto">
                        <input class="" type="" placeholder="Buscar Produtos:"> <i class="bi bi-search"></i>
                    </div>
                </div>
                <div class="hstack me-3 p-1 gap-3">
                    <button class="btn text-dark">Cadastrar</button>
                    <button class="btn text-dark">Logar</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <footer class="bgcor fixed-bottom tamanho">
        <div class="container d-flex justify-content-center  pt-4">



            <i class="bi bi-geo-alt fs-3 pe-3"></i>



            <div class="d-flex flex-column">
                <p class="tamanhofooter fs15">Avenida Japão</p>
                <p class="tamanhofooter fs15">Numero: 45</p>
                <p class="fs15">Bairro Copacabana</p>
            </div>



            <div class=" fs-4 ms-auto">
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
            </div>

        </div>

    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
