@model Aztromick2.ViewModel.ItemListViewModel

@{
    ViewData["Title"] = "Cardapio";
}

<h1 class="text-white text-center">@Model.CategoriaAtual</h1>
<hr class="bg-white">
<div class="row d-flex justify-content-center mb-5 gap-5">
    @foreach (var item in Model.Itens)
    {
        <partial name="_Card" for="@item"></partial>
    }
</div>