@model Aztromick2.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-white">Deletar Categoria</h1>
<h2 class="text-white"> @ViewData["Erro"]</h2>


<div>
    <hr class="bg-white" />
    <dl class="row text-white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    <hr class="bg-white">
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaId" />
        <input type="submit" value="Deletar" class="btn text-white border-white" /> 
    </form>
     <a class="btn text-white border-white mt-3" asp-action="Index">Voltar a pagina</a>
</div>
